@model List<Orders>
@{
    ViewData["Title"] = "Previous Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
    body {
        background-image: url(/content/images/WineCorks.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
</style>*@

<h1>Previous Order List</h1>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>OrderDate</th>
                <th>OrderStatus</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                @if (order.OrderStatusId == 1)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.OrderDate.Month/@order.OrderDate.Day/@order.OrderDate.Year</td>
                        <td>@order.OrderStatus.OrderStatusDescription</td>
                        <td>@order.Item.Name</td>
                        <td>@order.Quantity</td>
                        <td>@order.OrderTotal.ToString("C2")</td>
                        <td>
                            <form asp-controller="Shopping" asp-action="VerifyRefund">
                                <button type="submit" class="btn btn-dark" name="order" value="@order.OrderId">Return Item</button>
                            </form>
                        </td>
                    </tr>
                    }
                }
        </tbody>
    </table>
}
else
{
    <p>You currently do not have any orders placed!</p>
}