@model List<Items>
@{
    ViewData["Title"] = "WineList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url(/content/images/Barrels.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
</style>
<h1 style="color:white">WineList</h1>
@if (User.Identity.IsAuthenticated)
{
    <h6 style="color:white">Wallet Amount: @Global.walletAmount.ToString("C2")</h6>
}
@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="color:white">Name</th>
                <th style="color:white">Description</th>
                <th style="color:white">Quantity</th>
                <th style="color:white">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="color:white">@item.Name</td>
                <td style="color:white">@item.Description</td>
                <td style="color:white">@item.Quantity</td>
                <td style="color:white">@item.Price.ToString("C2")</td>
                @if (item.Quantity > 0)
                {
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (Global.walletAmount > item.Price)
                        {
                            <td>
                                <a href="@Url.Action("BuyItem", "Shopping", new { item = item.Id })"><button class="btn btn-dark">Purchase</button></a>
                            </td>
                        }
                    }
                }
</tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We currently do not have any wine. Please check back later!</p>
}